{% extends 'MSSCoreBundle:Home:base.html.twig' %}

{% block stylesheet %}
<style type="text/css">
    body {
        margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
    }

    .thumb {
        margin-bottom: 30px;
    }

    footer {
        margin: 50px 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><small>VIDEOS</small>
            </h1>
        </div>
    </div>
    
    {% set len = videos|length%}
    {% if len < 4 %}
       {% set rows = 1 %}
    {% endif %}
    {% if len > 4 %}
        {% set rows = (len/4)|round %}
    {% endif %}
    {% for i in range(0, rows-1) %}
    <div class="row">
        {% for j in range(0,3) %}
        {% set index = i*4+j %}
        {% if index < len%}
        {% set item = videos[index] %}
        <div class="col-sm-3" style="margin-top:20px;">
                <a class="thumbnail" href="{{ path('mss_core_cate_specific', {'type': 4, 'mediaid': item.vedioid,'keywords':item.keywords }) }}">
                    <img style="width:280px; height:150px;" class="img-responsive" src="{{ asset('uploads/' ~ item.framepath) }}">
                </a>
		<h3><a href="{{url('mss_core_user_channels', {'username': item.uploadname})}}">{{item.uploadname}}</a>
                </h3>
                <p>
		    VIEWS:&nbsp;&nbsp;{{item.viewtimes}}<br>
		    {% set name = item.getFilename() %}
                {% if app.session.get('uname') != null %}
                    <td><a href="{{url('mss_core_media_download', {'uploadname': item.uploadname, 'dir': 'videos', 'name': name})}}">DOWNLOADS: {{item.downloadtimes}}</a></td>
                {% endif %}
			<br>
                    UPLOAD DATE:&nbsp;&nbsp;{{item.updatetime.format('Y-m-d')}}
		</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    
</div>

{% endblock %}

{% block fooder %}
<!-- FOOTER -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Copyright &copy; Company 2013</p>
        </div>
    </div>
</footer>
</div>
{% endblock %}
