{% extends 'MSSCoreBundle:Home:base.html.twig' %}

{% block stylesheet %}
<link href="{{ asset('bundles/msscore/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/msscore/css/jasny-bootstrap.css') }}" rel="stylesheet">
<style type="text/css">
    /*
    * Base structure
    */

    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
      padding-top: 50px;
    }
</style>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/msscore/js/jasny-bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/msscore/js/jasny-bootstrap.js') }}"></script>
{% endblock %}

{% block content%}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <form class="uploadForm" method ="POST"  enctype="multipart/form-data" action="{{path('mss_core_media_uploadText')}}">
        <div class="col-md-6">
            <h2>Upload center</h2>
            <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="input-group" style="width: 400px;">
              <div class="form-control" data-trigger="fileinput">
                  <i class="glyphicon glyphicon-file fileinput-exists"></i> 
                  <span class="fileinput-filename"></span></div>
                  <span class="input-group-addon btn btn-default btn-file">
                  <span class="fileinput-new">Select</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="article"></span>
                  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
          </div>
            {% if param is defined %}
                {{param['status']}}
            {% endif %}
          <h2>Text description</h2>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter title" required autofocus>
          </div>
          <div class="form-group">
            <label for="keywords">Keywords</label>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="keyword1" placeholder="Nature" required>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="keyword2" placeholder="Celebrities">
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" name="keyword3" placeholder="Personal life">
                </div>
          </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" placeholder="Description" rows="3" required></textarea>
          </div>
          <div class="form-group">
              <label for="security">Security</label>
              <select class="form-control" name="security">  
                <option value ="public">Public</option>  
                <option value ="private">Private</option>  
            </select>  
          </div>
          <button class="btn btn-primary fileupload-exists" type="submit">Upload</button>
       </div>
      </form>   
      </div>
    </div>
{% endblock%}

{% block fooder %}
{% endblock %}